<!-- My hotel name is {{ hotelName }} <br> -->

<hinv-header></hinv-header>
<hinv-header></hinv-header>

<div [hidden]="hideRooms">
    No of rooms:
    <div [innerText]="noOfRooms" [ngStyle]="{'color': rooms.avalableRooms ? 'steelblue' : 'red'}" >

    </div>
</div>
{{ rooms?.avalableRooms ?? 'No Rooms' }}

<div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div>

<div>
    <button class="btn btn-secondary" (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.avalableRooms > 0">
    Room List
    <pre>
        <!-- {{ roomList | json }} -->
    </pre>
   <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toogle()">Toogle</button>